<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SpotifyApp</Name>
    <Version>1.0.0</Version>
    <Title>Cliente Spotify</Title>
    <Publisher>Qt-Project</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>ApotifyApp</StartMenuDir>
    <TargetDir>@ApplicationsDir@/SpotifyApp</TargetDir>
</Installer>
