body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

h1 {
	background-image: url(../img/sobre-background.jpg);
}

h2 {
	border-bottom: 2px solid #333333;
	margin-top: 30px;
}

h1 {
	padding: 10px;
}

h2 {
	margin-top: 30px;
}


p {
	/*	padding: 0 45px;*/
	text-indent: 15px;
}


p::first-letter {
	font-weight: bold;
}

h1 + p {
	text-indent: 0;
}

:not(p) + p::first-line {
	font-variant: small-caps;
}


#pRodape {
	text-align: center;
}


#imgLogo {
	display:block;
	width: 40%;
}

.menuoOcoes ul {
	font-size: 15px;
}

.menuoOcoes a {
	color: #003366;
}

.menuoOcoes ul li {
	display: inline;
	margin-left: 20px;
}

header {
	position: fixed;
	top: 0;
	background: #ffffff;
	width: 80%;
}

#conteudo{
	margin-top: 20%;
}

.menuoOcoes{
	position: absolute;
	bottom: 0;
	right: 0;
}

figcaption{
	display: block;
	text-align: center;
}


#secImagemAberto, #secImagemAuto{
	text-align: center;
}

#imgAberto{
	height: 40%;
	width: 40%;
	max-width: 100%
}

#imgAutorizacao{
	height: 30%;
	width: 30%;
	margin-top: 50px;
	max-width: 100%
}


#secImagemAberto{
	float: left;
}


#titulo{
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
}

#divImagens{
	text-align: center;
}


#pRodape{
	clear: both;
}
